<?xml version="1.0" encoding="utf-8"?>

<!--
============================================================
As Above, So Below. As Within, So Without.
The Future Dictates the Past and the Past is Always Present.
============================================================
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>